/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: Georgia, Helvetica, sans-serif;
}

::-moz-selection {
    background: #ae1427;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #ae1427;
    text-shadow: none;
    color: #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#global, #info, #generator { height: 800px; }

#global {
    background: url(../img/global_bg.png) no-repeat 0 0;
    width: 810px;
}

.cols {
    background: #ffd122; 
}

#info form label,
#generator p,
#generator span,
#generator .text_generated { color: #ae1427; }

#info {
    width: 308px;
    height: 752px;
    padding: 48px 25px 0;
   
}
#info span {
    display: block;
}
#info h1,
#info .logo_pelegrino,
#generatorMsg .p13 { 
    background: url(../img/sprite_01.png) no-repeat;
}
#info h1 {
    background-position: -12px -392px;
    width: 299px;
    height: 82px;
    margin: 20px auto;
}
#info .logo_pelegrino {
    background-position:  0 0;
    width: 317px;
    height: 318px;
    
}

#info form label {
    font: italic 20px 'Bevan', Georgia, Helvetica, sans-serif;
    letter-spacing: -1px;
}
#info form textarea {
    background: #fff url("../img/quote.png") no-repeat 10px 10px;
    border: 2px solid #efb224;
    color: #303030;
    font: normal 16px 'Bevan', Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 289px;
    height: 153px;
}
#info input[type="text"] {
    background: #ffd122;    
    border: 0;
    width: 20px;
    font-size: 12px;
    color: #303030;
}
#info .min_txt {
    font-size: 12px;
    color: #303030;
}

#generator {
    position: relative;
    width: 393px;
    height: 760px;
    padding: 40px 0 0;
}
#generator:before,
#generator:after {
    content: '';
    position: absolute;
    z-index: 10;
    left: 0;
    background: #3c3c3c;
    width: 100%;
    height: 24px;
}

#generator:after {
    bottom: 0;
}
#generator:before {
    top: 0;
}
#generator p {
    font-size: 25px;
}
#userGenerator {
    width: 370px;
    margin: 0 auto;
}
#userGenerator .choice_size {
    margin-bottom: 10px;
}
#userGenerator .choice_size span {
    font: 23px 'Bevan', Georgia, Helvetica, sans-serif;
}
#generatorMsg {
    float: left;
    width: 370px;
    height: 370px;
    background: #fff;
}
#generatorMsg .wrap {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 10px auto 0;
}
#generatorMsg .p13,
#generatorMsg .quote,
#generatorMsg .mask_color,
#generatorMsg .text_generated {
    position: absolute;
    left: 0;
    top: 0;
}
#generatorMsg .quote {
    z-index: 10;
    display: block;
    margin: 100px 0 0 13px;
    width: 82px;
    height: 53px;
    background: url('../img/quote_2.png') no-repeat 0 0;
}
#generatorMsg .mask_color {
    background: #f79b0a;
    background: rgba(247,155,10,0.8);
    z-index: 10;
}
#generatorMsg img,
#generatorMsg .mask_color {
    width: 352px;
    height: 352px;
    margin: 0 auto;
}
#generatorMsg .p13,
#generatorMsg .text_generated {
    z-index: 15;
}
#generatorMsg .p13  {
    background-position: -7px -491px;
    width: 299px;
    height: 70px;
    margin: 20px 30px 0;
}
#generatorMsg .text_generated {
    color: #d60006;
    padding: 0 26px;
    margin-top: 110px;
}
#generatorMsg .text_generated p,
#generatorMsg .text_generated span {
    font-family: 'Bevan', Georgia, Helvetica, sans-serif;
}
#generatorMsg .text_generated p {
    font-size: 21px;
    margin: 0 0 10px;
    letter-spacing: -1px;
}
#generatorMsg .text_generated span {
    font-size: 20px;
    text-transform: uppercase;
}

#generator a.button {
    display: block;
    width: 356px;
    height: 47px;
    margin: 20px auto 0;
    padding: 20px 0 0;
    font: italic 20px 'Bevan', Georgia, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: 2px solid #8d0000;
    border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
    background: #e7020e;
    background: -moz-linear-gradient(top,  #e7020e 0%, #940001 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7020e), color-stop(100%,#940001));
    background: -webkit-linear-gradient(top,  #e7020e 0%,#940001 100%);
    background: -o-linear-gradient(top,  #e7020e 0%,#940001 100%);
    background: -ms-linear-gradient(top,  #e7020e 0%,#940001 100%);
    background: linear-gradient(to bottom,  #e7020e 0%,#940001 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7020e', endColorstr='#940001',GradientType=0 );

}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.hide { display: none; }
.alignleft { float: left; }
.alignright { float: right; }
.ir { 
    display: block; 
    border: 0; 
    text-indent: -999999px;
    white-space: nowrap;
    overflow: hidden; 
    background-color: transparent; 
    background-repeat: no-repeat; 
    text-align: left; 
    direction: ltr; 
    *line-height: 0;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}